.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 120px);
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  height: 440px;
  width: 35%;

  font-size: 14px;
}

.login_header {
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  line-height: 80px;
  background-image: url("/assets/images/header.jpg");
  background-size: cover;
  background-position: center;

  font-size: 30px;
  font-family: Bradley Hand, cursive;
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;

  font-family: Verdana;
  font-size: 14px;
}

.login_input {
  height: 80px;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login_input-text {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Bradley Hand, cursive;
  color: black;
}

.login_input-form {
  margin-top: 10px;
  height: 45px;
  width: 100%;
}

.login_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  margin: 0 auto;
}

.login_log-in {
  border: none;
  outline: none;
  padding: 10px 25px;
  font-size: 20px;
  color: #51acd0;
  background-color: white;
}

.login_error {
  display: inline;
  width: 75%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 16px;
  color: red;
  font-family: Bradley Hand, cursive;
}
