<div class="login">

  <div class="login_container">

    <form [formGroup]="userForm" (ngSubmit)="login()">
      <div class="login_header">
      Login
      </div>
      <div class="login_form">
        <div class="login_input">
          <label class="login_input-text">Email</label>
          <input class="input_form login_input-form" formControlName="login" placeholder="Please, enter email">
        </div>
        <div class="login_input">
          <label class="login_input-text">Password</label>
          <input type="password" class="input_form login_input-form" formControlName="password" placeholder="Please, enter password">
        </div>
        <div class="login_error">{{errorText}}</div>
        <div class="login_button">
          <button type="submit" class="button login_log-in">Login</button>
        </div>
      </div>
    </form>

  </div>

</div>
