<div class="header">
  <div class="header_title">
    <span class="header_title-video">
      <i class="fa fa-video-camera"></i>Video</span>
    <span class="header_title-courses">Courses</span>
  </div>
  <div class="header_log">
    <span class="header_log-in">{{login}}</span>
    <a class="button header_log-off" *ngIf="isAuthenticated" (click)="logoff()">Log off</a>
  </div>
</div>
