.header {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 60px;
  background-image: url('/assets/images/header.jpg');
  background-size: cover;
  background-position: center;
}

.header_title-video {
  font-size: 30px;
  font-family: Bradley Hand, cursive;
  color: black;
}

.header_title-courses {
  font-size: 30px;
  font-family: Bradley Hand, cursive;
  color: white;
}

.header_log {
  margin: auto 0;
}

.header_log-in {
  margin-right: 20px;
  font-size: 20px;
  font-family: Bradley Hand, cursive;
  color: white;
}

.header_log-off {
  color: #51acd0;
  background-color: white;
}

.fa-video-camera {
  color: white;
  margin-right: 7px;
}