.up-button {
  position: fixed;
  bottom: 80px;
  left: 50px;
}

.fa-chevron-circle-up, .fa-chevron-circle-down {
  color: #51acd082;
  font-size: 55px;
}

.fa-chevron-circle-up:hover, .fa-chevron-circle-down:hover {
  cursor: pointer;
  color: #51acd0a3;
}
