<a class="up-button" *ngIf="showDown || showUp" id="updown" (click)="toggleUpDown()">
  <i *ngIf="showUp" class="fa fa-chevron-circle-up"></i>
  <i *ngIf="!showUp" class="fa fa-chevron-circle-down"></i>
</a>
