<div>
  <input class="input_form"
         [ngClass]="{'input_error':!valid}"
         type="text"
         [(ngModel)]="duration"
         (ngModelChange)="changeDuration($event)"
         placeholder="Date">
  <span class="duration_text"> {{valid ? (duration | formatTime) : ''}}</span>
</div>
