<div class="toolbox">
  <div class="toolbox_container">
    <i class="fa fa-search"></i>
    <input class="toolbox_input" id="toolbox_input" [formControl]="searchForm" placeholder="Search...">
  </div>
  <div class="toolbox_container">
    <a (click)="updateCoursesPage()"><i class="fas fa-sync-alt"></i></a>
    <a class="button toolbox_add-course" [routerLink]="['new']">Add course</a>
  </div>
</div>
