.toolbox {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: -10px -10px 15px -10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 250, 0.8);
  background-color: #2ea6d4;
}

.toolbox_container {
  position: relative;
  display: flex;
  align-items: center;
}

.fa-search {
  top: 4px;
}

.toolbox_input {
  width: 100px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px #388bab;
  padding: 10px 10px 10px 35px;

  outline: none;
  font-size: 15px;
  color: grey;
  font-family: Verdana;

  transition: width 300ms ease-out;
}

.toolbox_input:focus {
  width: 250px;
}

.toolbox_search, .toolbox_add-course {
  padding: 9px 10px;
  box-shadow: 0 0 10px #388bab;
  text-decoration: none;
  background-color: white;
  color: #51acd0;
}

.fa-sync-alt{
  cursor: pointer;
  margin-right: 20px;

  font-size: 30px;
  color: white;
}

input::placeholder {
  color: #80808073;
}
