<div>
  <tag-input class="input_form"
             placeholder="+ Author"
             [ngClass]="{'input_error':!valid}"
             [(ngModel)]="courseAuthors"
             [theme]="'bootstrap'"
             (ngModelChange)="changeAuthors($event)"
             [clearOnBlur]="true"
             [onlyFromAutocomplete]="true"
             [identifyBy]="'id'"
             [displayBy]="'name'">
    <tag-input-dropdown [focusFirstElement]="true"
                        [displayBy]="'name'"
                        [identifyBy]="'id'"
                        [showDropdownIfEmpty]="true"
                        [autocompleteItems]="authors">
    </tag-input-dropdown>
  </tag-input>
</div>
