.input_form {
  margin-top: 10px;
}

 /deep/ .input_form tag {
  background-color: #2ea6d4!important;
}

/deep/ .bootstrap.ng2-tag-input.ng2-tag-input, .bootstrap.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: none!important;
}

/deep/ input {
  color: grey!important;
}
