.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  width: 100%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 60px;
  background-image: url("/assets/images/header.jpg");
  background-size: cover;

  font-family: Bradley Hand, cursive;
  color: black;
}
