<form class="container">
  <div class="add-course_header">
    <div *ngIf="courseId">
      <a class="add-course_header-link" [routerLink]="['/courses']">Courses</a>/<span>{{course.name}} {{course.id}}</span>
    </div>
    <div *ngIf="!courseId">
      <span class="add-course_header-title">New course</span>
    </div>
  </div>
  <div class="add-course">

    <form [formGroup]="courseForm">
      <div class="add-course_item">
        <label for="title" class="add-course_item-title">Title</label>
        <span class="add-course_error" *ngIf="name.invalid && name.errors['maxlength']">Length must be less than 50 characters</span>
        <span class="add-course_error" *ngIf="name.dirty && name.invalid && name.errors['required']">This field is required</span>
        <input
          id="title"
          class="input_form add-course_input-form"
          [ngClass]="{'input_error':name.dirty && name.invalid}"
          formControlName="name"
          type="text"
          placeholder="Title"
        >
      </div>

      <div class="add-course_item">
        <label for="description" class="add-course_item-title">Description</label>
        <span class="add-course_error" *ngIf="description.invalid && description.errors['maxlength']">Length must be less than 500 characters</span>
        <span class="add-course_error" *ngIf="description.dirty && description.invalid && description.errors['required']">This field is required</span>
        <textarea
          id="Description"
          class="input_form add-course_input-form add-course_input-form--description"
          [ngClass]="{'input_error':description.dirty && description.invalid}"
          type="text"
          formControlName="description"
          placeholder="Description"
        ></textarea>
      </div>

      <div class="add-course_item">
        <label for="date" class="add-course_item-title">Date <i class="fa fa-calendar"></i></label>
        <span class="add-course_error" *ngIf="date.invalid && !!date.errors['formatDate']">Incorrect date format</span>
        <span class="add-course_error" *ngIf="date.dirty && date.invalid && date.errors['required']">This field is required</span>
        <app-date id="date" [formControl]="date"></app-date>
      </div>

      <div class="add-course_item">
        <label for="duration" class="add-course_item-title">Duration <i class="fa fa-clock-o"></i></label>
        <span class="add-course_error" *ngIf="length.invalid && !!length.errors['formatTime']">Incorrect time format</span>
        <span class="add-course_error" *ngIf="length.dirty && length.invalid && length.errors['required']">This field is required</span>
        <app-duration-time id="duration" [formControl]="length"></app-duration-time>
      </div>

      <div class="add-course_item">
        <label for="authors" class="add-course_item-title">Authors</label>
        <span class="add-course_error" *ngIf="authors.dirty && authors.invalid && authors.errors['required']">Must be at least one author</span>
        <app-authors id="authors" [formControl]="authors" [authors]="courseAuthors"></app-authors>
      </div>

      <div class="add-course_action">
        <button type="submit" class="button add-course_action-button" (click)="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button class="button add-course_action-button" (click)="cancel()">Cancel</button>
      </div>
    </form>

  </div>
</form>
