.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*top: 100px;*/

  width: 100%;
  /*min-height: calc(100vh - 120px);*/
}

.add-course {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  min-height: calc(100vh - 180px);

  padding: 20px 30px;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  background-color: white;
}

.add-course_header {
  z-index: 25;
  height: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  font-size: 18px;
  font-family: Verdana;
  color: white;
  background: #2ea6d4;
}

.add-course_header-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-family: Bradley Hand, cursive;
}

.add-course_header-link:hover {
  text-decoration: underline;
}

.add-course_header-title {
  margin-left: 20px;
  font-family: Bradley Hand, cursive;
}

.add-course_item {
  margin-bottom: 40px;
}

.add-course_item-title {
  font-size: 18px;
  font-family: Bradley Hand, cursive;
  font-weight: bold;
  color: #1f7798;
}

.add-course_input-form {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.add-course_input-form--description {
  height: 100px;
  resize: none;
  margin-top: 20px;
}

.add-course_action {
  display: flex;
  margin-top: 30px;
}

.add-course_action-button {
  margin-right: 30px;
  margin-bottom: 20px;

  padding: 10px 25px;
  outline: none;
  border: none;
  font-size: 20px;
  text-decoration: none;
  color: #51acd0;
  background-color: white;
}

.add-course_error {
  margin-left: 20px;
  font-family: Bradley Hand, cursive;
  color: red;
}
