/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #f2fbff;
}

.button {
  padding: 8px 10px;
  background: #51acd0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #3465af4f;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 #3465af;
  font-family: Verdana;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.fa-search {
  position: absolute;
  font-size: 24px;
  color: #51acd0;
  margin: 4px;
}

.input_form {
  border: none;
  border-radius: 10px;

  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 250, 0.3);
  padding: 10px 15px;
  outline: none;

  font-size: 15px;
  color: grey;
  font-family: Verdana;
}

.input_error {
  box-shadow: 0 0 5px rgb(250, 0, 0);
}

input::placeholder, textarea::placeholder {
  color: #80808073;
}
