.courses-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 10px #135a75;
  background: linear-gradient(#aed7e8, #d1e8f1);
  box-sizing: border-box;
}

.courses-list-item_top-rated {
  background: #92c8dd;
}

.courses-list-item_top-rated--line{
  font-size: 22px;
  font-weight: 100;
}

.courses-list-item_info {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}

.courses-list-item_info-header {
  display: flex;
  margin-bottom: 15px;
}

.courses-list-item_info-header_title {
  flex-grow: 18;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  color: #1f7798;
  font-family: cursive;
}

.courses-list-item_info-header_time {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.courses-list-item_info-description {
  flex-grow: 20;
  flex-basis: auto;
  text-indent: 20px;
}

.courses-list-item_actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90px;
}

.courses-list-item_actions-button{
  display: flex;
  text-decoration: none;
}

.fa {
  margin-right: 6px;
}
