<div class="courses-list-item"
     [appSelectCourse]="videoCourse.date"
     [ngClass]="{'courses-list-item_top-rated': videoCourse.isTopRated}">
  <div class="courses-list-item_info">
    <div class="courses-list-item_info-header">
      <span class="courses-list-item_info-header_title">{{videoCourse.name | uppercase}} {{videoCourse.id}}
        <span *ngIf="videoCourse.isTopRated"><span class="courses-list-item_top-rated--line">| </span>
          <i class="fa fa-star"></i></span>
      </span>
      <span class="courses-list-item_info-header_time">
        <i class="fa fa-clock-o"></i>{{videoCourse.length | formatTime}}</span>
      <span class="courses-list-item_info-header_time">
        <i class="fa fa-calendar"></i>{{videoCourse.date | date: 'MM.dd.yyyy'}}</span>
    </div>
    <div class="courses-list-item_info-description">{{videoCourse.description}}</div>
  </div>
  <div class="courses-list-item_actions">
    <a class="button courses-list-item_actions-button" id="courses-list-item_edit-button" [routerLink]="[videoCourse.id]">
      <i class="fa fa-pencil"></i>Edit
    </a>
    <a class="button courses-list-item_actions-button" id="courses-list-item_delete-button" (click)="delete()">
      <i class="fa fa-remove"></i>Delete
    </a>
  </div>
</div>
