.error-page {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;

  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: cursive;
  color: white;

  background-image: url("/assets/images/header.jpg");
  background-size: cover;
  background-position: right;
}
