.course-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;

  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  min-height: calc(100vh - 120px);
  width: 65%;

  font-family: Verdana;
  font-size: 14px;
}

.course-list_no-data {
  box-shadow: 0 0 10px #135a75;
  border-radius: 3px;
  background-color: white;

  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 1px 0 #3465af;
  color: #51acd0;
  font-family: "Bradley Hand", cursive;
}

.load-button {
  padding: 10px 0;
  font-size: 18px;
}
