<div class="course-list">
  <app-toolbox
    (viewAllVideoCourses) = "viewAllCourses()"
    (filterByTitle) = "filterByVideoTitle($event)"
    (update) = "updatePage()"
  >

  </app-toolbox>
  <div class="course-list_no-data" *ngIf="!coursesList.length">No data, feel free to add new course</div>
  <app-courses-list-item
    *ngFor = "let item of coursesList"
    [videoCourse] = "item"
    (deleteVideo) = "onDeleteCourse($event)"
  >
  </app-courses-list-item>

  <a class="button load-button" *ngIf="coursesList.length && loadCourse" (click)="loadMore()">Load more</a>

  <app-up-down [coursesLength]="coursesList.length"></app-up-down>
</div>
